mixin HeroHeader
  section.py-0#home
    +Background({ image: `${CWD}assets/img/illustrations/hero-section.png`, attrs: { style: { 'background-position': 'right bottom', 'background-size': 'contain'} }, className: 'd-none d-md-block' })
    +Background({image: `${CWD}assets/img/illustrations/hero-bg.png`, attrs: { style: { 'background-position': 'right top', 'background-size': 'contain'} }, className: 'd-block d-md-none' })
    .container
      .row.align-items-center.min-vh-md-75
        .col-md-7.col-lg-6.py-6.text-sm-start.text-center
          h1.mt-6.mb-sm-4.display-4.fw-semi-bold.lh-sm.fs-4.fs-lg-6.fs-xxl-7 Make Today Count
            br.d-block.d-lg-none.d-xl-block
            |Keep Going
          p.mb-4.fs-1 Accelerating research discovery to shape a better future 

              